<tr>
    <td><%= product_color.name %></td>
    <td><%= link_to  "Delete",  product_color_path(product_color), method: :delete, remote: true ,class: 'btn btn-danger delete_product_color' %></td>
</tr>