<div class="container">
    <div class="row get-margin">
        <div class="col-md-7">
            <table class="table table-bordered  bgcolor-table-form">   
                <tr>
                    <td>Category Name</td>
                    <td>Sub-Category Name</td>
                    <td>Action</td>
                </tr>

                <tbody id="sub_category_tbl">
                    <%= render partial: "sub_category", collection: @subcategories, as: :sub_category  %>
                </tbody>
            </table>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-4 insert-db-form">
            <%= render 'form' %>
        </div>
    </div>
</div>